
html{    
    box-sizing: border-box;
}

*,
*::before,
* ::after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.6;
    background-color: #DDDDDD;
    font-family: 'Nunito', sans-serif;
	font-family: 'Ubuntu', sans-serif;
    
}



/*Reglas de estilo para el mapa*/

section{
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    background-color: cornflowerblue;    
    height: 100vh;
    padding: 10% 0%;
}

div.mapa{
    position: relative;
    padding-top: 125px;
    height: max-content;
    width: 75%;
    margin: auto;
    height: 100vh;
}

.mapa path{
    fill: forestgreen;
    stroke: ghostwhite;
    stroke-width: 2px;
}

.mapa path:hover{
    fill: #269E26;
}


#popup {
    position: absolute;
    color: white;
    padding: 13px;
    display: none;
    background-color: #292C3F;
    z-index: 999;
    border: solid 1px white;
}

#modificar{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

#modificar a{
    display: block;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: tan;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}


#modificar a:hover {
    cursor: pointer;
    background-color: rgb(184, 156, 121);
    color: white;
}

#modificar a:active {
    transform: scale(.9);
}

#usuario {
    width: 100%;
}

#usuario p{
    float: right;
    background-color: white;
    padding: 10px;
    color: black;
    font-weight: 600;
}

#btnCerrarS{
    border: none;
    padding: 13px;
    font-size: 1rem;
    background-color: #313945;
    font-weight: 600;
    text-decoration: none;
    color: white;    
    float: right;
    margin-top: 17px;
}

#btnCerrarS:hover {
    cursor: pointer;
    background-color: #434e5e;
}

#btnCerrarS:active {
    transform: scale(.9);
}


/*Reglas de estilo para el pie de pagina*/
footer{
    position: relative;
    background-color: #292C3F;
    padding: 20px 0;
    color: white;
    clear: both;
}
  
.contenedor-footer{
    max-width: 1300px;
    margin: auto;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
   
}
  
.contenido-izquierdo{
      width: 700px;
      padding: 20px 5px;
}
  
.redes-sociales{
  
      width: 230px;
      float: left;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
}
  
  
.redes-sociales>img{
      width: 50px;
      float: left;
      margin-right: 10px;
}
  
.redes-sociales a{
      margin-top: 15px;
      text-decoration: none;
      color: white;
}

.redes-sociales a:hover{
      color: #4B56C6;
}
  
.contenido-derecho{
      padding: 20px 25px;
      border-left: solid #4B56C6 2px;
}
  
.contenido-derecho h3, .contenido-izquierdo h3{
    font-size: 1.3rem;
    margin-bottom: 3%;
}
  
.contenido-derecho p{
      margin-bottom:3%;
}




/*tv*/
@media (min-width: 1400px) and (max-width:1700px) {
    section{
        height: 85%;
    }
    
    div.mapa{
        padding-top: 125px;
        height: max-content;
        width: 75%;
        margin: auto;
    }
}
/*laptops y tablets grandes*/
@media (min-width:1200px) and (max-width:1399.98px) {
    section{
        height: 78.5%;
    }
    
    div.mapa{
        padding-top: 100px;
        height: max-content;
        width: 90%;
        margin: auto;
    }
}
/*tablets*/
@media (min-width:992px) and (max-width:1199.98px){
    section{
        height: 75%;
    }
    
    div.mapa{
        padding-top: 100px;
        height: max-content;
        width: 87.5%;
        margin: auto;
    }
}
/*telefonos de lado y algunas tablets*/
@media (min-width:768px) and (max-width:991.98px) {
    section{
        height: 75%;
    }
    
    div.mapa{
        padding-top: 105px;
        height: max-content;
        width: 90%;
        margin: auto;
    }

    #usuario {
        margin-top: 4%;
        width: 100%;
    }
}
/*telefonos normal y de lado*/
@media (min-width:576px) and (max-width:767.98px) {
    section{
        height: 75%;
    }
    
    div.mapa{
        padding-top: 105px;
        height: max-content;
        width: 95%;
        margin: auto;
    }
    #usuario {
        margin-top: 4%;
        width: 100%;
    }
}
/*telefonos normal*/
@media (max-width: 575.98px) { 
    section{
        height: 75%;
    }
    
    div.mapa{
        padding-top: 105px;
        height: max-content;
        width: 95%;
        margin: auto;
    }

    

    #usuario p {
        margin-top: 0.5%;
    }

    #btnCerrarS {
        float: right;
        margin-top: 20%;
    }
}


@media (max-width: 569px) {
    section {
        height: 75%;
    }

    div.mapa {
        padding-top: 105px;
        height: max-content;
        width: 95%;
        margin: auto;
    }

    #usuario p {
        margin-top: 20%;
    }

    #btnCerrarS {
        float: right;
        margin-top: 20%;
    }
}


@media (max-width: 444px) {
    section {
        height: 75%;
    }

    div.mapa {
        padding-top: 105px;
        height: max-content;
        width: 95%;
        margin: auto;
    }

    #usuario p {
        margin-top: .5%;
    }

    #btnCerrarS {
        float: right;
        margin-top: 20%;
    }
}
