*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #DDDDDD;
    font-family: 'Nunito', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}

/*Reglas de estilo para afectar el contenedor principal*/


.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 91%;
    margin: auto;
    background-color: white;
    padding: 3px;
    padding-bottom: 3%;
    box-shadow: 3px 3px 15px 3px rgba(77, 77, 77, 0.6);
    margin-bottom: 2%;
}


/*Reglas de estilo para el contenido*/


.Primeros-Datos{
    margin-top: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(75, 86, 198, 0.2);
    padding: .8%;
}

.info{
    position: relative;
    width: 50%;
    float: left;
    margin-right: 3%;
    padding: 3%;
    flex-wrap: nowrap;
}


.info p{
    margin-top: 7%;
    margin-bottom: 8%;
}


/*Reglas de estilo para afectar la seccion de datos historicos*/

.Datos-Historicos{
    width: 100%;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.1);
}


.historia{
    width: 31%;
    height: 580px;
    background-color: #f0ef9eff;
    float: left;
    margin: 1%;
    color: #000;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 1px rgba(77, 77, 77, 0.6);
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.historia:hover{
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
}

.Datos-Historicos h2{
    
    text-align: center;
    padding-top: 2%;
    color: #292C3F;
    border-bottom: 2px solid #292C3F;
}

.historia p{
    padding: 10px;
    margin: 0px;
    text-align: justify;
}

/*Reglas de estilo para la seccion de municipios*/

.municipios{
    width: 100%;
    margin-top: 2%;
    background-color: rgba(75, 86, 198, 0.2);
}

.municipios p{
    width: 220px;
    float: left;
    margin: 1% 3%;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #50B2AB;
    box-shadow: 1px 1px 10px 1px rgba(77, 77, 77, 0.9);
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.municipios p:hover{
    transform: scale(1.04);
    -webkit-transform: scale(1.09);
    -ms-transform: scale(1.08);
}


.municipios h2{
    
    text-align: center;
    padding-top: 2%;
    margin-bottom: 1%;
    color: #292C3F;
    border-bottom: 2px solid #292C3F;
}



/*Reglas de estilo para la seccion de lugares turisticos*/
.lugares-turisticos{
    width: 100%;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.1);
}


.lugares-turisticos h2{
    
    text-align: center;
    padding-top: 2%;
    margin-bottom: 1%;
    color: #292C3F;
    border-bottom: 2px solid #292C3F;
}


.lugar{
    position: relative;
    width: 33.33%;
    height: 300px;
    background-size: cover;
	background-position: center;
    float: left;
}


.lugar img{
    width: 100%;
    height: 300px;
}


.datos{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(41, 44, 63, 0.6);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.datos p{
    padding: 3%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.lugar:hover .datos{
    transform: scale(1);
}

/*Reglas de estilo para la seccion de celebridades*/

.celebridades{
    width: 100%;
    height: auto;
    margin-top: 2%;
    background-color: rgba(75, 86, 198, 0.2);
}


.celebridades h2{
    
    text-align: center;
    padding-top: 2%;
    color: #292C3F;
    border-bottom: 2px solid #292C3F;
    margin-bottom: 1%;
}

.accordionWrapper {
    width: 100%;
    padding-bottom: 20px;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
}


.acordeon {
    width: 100%;

}

.accordionWrapper div {
    display: inline;
    float: left;
    margin: 0 auto;
}


.accordionWrapper div.title {
    width: 100%;
    height: 34px;
    cursor: pointer;
}

.accordionWrapper div.content {
    padding: 20px;
    display: none;
    border: solid 1px #292C3F;
    background-color: rgba(41, 44, 63, .1);
}

.content p {

    text-align: justify;
}

.title h3 {
    color: white;
    padding-left: 10px;
    font-weight: lighter;
}

.content img {
    width: 190px;
    float: left;
    margin-right: 20px;
}

.set {
    width: 70%;

    border-bottom: 1px solid #000;
}

.set1 {
    background-color: #292C3F;
}

.title:hover{
    background-color: silver;
}

.title h3:hover {
    color: black;
    font-weight: 600;
}

.set2 {
    background-color: #32354d;
}

.set3 {
    background-color: #434766;
}

.set4 {
    background-color: #515575;
}

/*Reglas de estilo para el pie de pagina*/


footer{
    background-color: #292C3F;
    padding: 20px 0;
    color: white;
}
  
.contenedor-footer{
    max-width: 1300px;
    margin: auto;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
   
}
  
.contenido-izquierdo{
      width: 700px;
      padding: 20px 5px;
}
  
.redes-sociales{
  
      width: 230px;
      float: left;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
}
  
  
.redes-sociales>img{
      width: 50px;
      float: left;
      margin-right: 10px;
}
  
.redes-sociales a{
      margin-top: 15px;
      text-decoration: none;
      color: white;
}

.redes-sociales a:hover{
      color: #4B56C6;
}
  
.contenido-derecho{
      padding: 20px 25px;
      border-left: solid #4B56C6 2px;
}
  
.contenido-derecho h3, .contenido-izquierdo h3{
    font-size: 1.3rem;
    margin-bottom: 3%;
}
  
.contenido-derecho p{
      margin-bottom:3%;
}



/*Reglas de estilo para que el contenido de la pagina sea adaptativo*/


@media screen and (max-width:1024px) {

    .main{
        width: 100%;
        padding: 0;
    }


    .info{
        width: 50%;
        font-size: 1rem;
    }

    .mapa img{
        display: block;
        width: 70%;
        margin: auto;
    }

    .cotenido-banner h1{
        font-size: 2.2rem;
    }
    .Datos-Historicos{
        width: 100%;
    }

    .historia{
        width: 95%;
        height: initial;
        margin: 10px 23px;
    }

    .municipios p{
        margin: 2% 5.3%;
    }

    .lugar{
        height: 230px;
    }

    .lugar img{
        height: 230px;
    }


    .celebridades{
        margin-bottom: 3%;
    }
      
}




@media screen and (max-width:824px) {

    .main{
        width: 100%;
        padding: 0;
    }

    .Primeros-Datos{
        display: block;
    }

    .info{
        font-size: 1.1rem;
        width: 90%;
    }

    .mapa img{
        display: block;
        width: 50%;
        margin: auto;
    }

    .cotenido-banner h1{
        font-size: 2.2rem;
    }

    .Datos-Historicos{
        width: 100%;
    }

    .historia{
        width: 95%;
        height: initial;
        margin: 10px 18px;
    }

    .municipios p{
        margin: 2% 10%;
    }

    .lugar{
        width: 50%;
        height: 290px;
    }

    .lugar img{
        height: 290px;
    }
    
}

@media screen and (max-width:737px) {

    .municipios p{
        margin: 2% 9%;
    }

}

@media screen and (max-width:667px) {

    .municipios p{
        margin: 2% 7%;
    }

}


@media screen and (max-width:540px) {


    .info p{
        font-size: 1.1rem;
    }


    .historia{
        font-size: 1.1rem;
    }

    .municipios p{
        
        margin: 2% 27%;
    }

    .lugar{
        width: 80%;
        height: 270px;
        margin: 1% 9%;
    }

    .lugar img{
        height: 270px;
    }

}




@media screen and (max-width:414px) {

    .historia{
        width: 100%;
        height: initial;
        font-size: 1.1rem;
        margin: 10px 0px;
    }

    .municipios p{
        font-size: 1.1rem;
        margin: 2% 20%;
    }

    .lugar{
        width: 80%;
        height: 270px;
        margin: 1% 9%;
    }

    .lugar img{
        height: 270px;
    }


    .set {
        width: 90%;
    }

    .content img {
        width: 190px;
        float:none;
        margin: 20px 45px;
    }

}


/* submenu */

.submenu-content{
    position:static;
    top:100px;
    margin:auto;
    text-align: center;
}
        
.submenu-content a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
   
}
            
.submenu-content li{
    display:inline-block;
    width:150px;
    height:30px;
    padding:5px 10px;
    border:1px solid #000;
    text-align:center;
    background-color:#000;
    color:#fff;
}
            
.submenu-content li:hover{
    background-color:#fff;
    color:#000;
}
            
.submenu-content li>ul{
position:fixed;
left:0px;
top:30px;
display:block;
}
/*boton ir arriba */
.arriba{      
    bottom: 10px;
    display: block;
    height: 70px;
    position: fixed;
    right:10px;
    width:70px;
    border: none;
    background: transparent;
    background-image: url('../img/subir.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: .95;
}

.arriba:hover{
    cursor: pointer;
    background-image: url('../img/subir_hover.png');
    background-repeat: no-repeat;
    background-position: center;
}

.arriba:active {
    transform: scale(.9);
}


